/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #c2bf07 #131219;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #131219;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2bf07;
  border-radius: 10px;
  border: none;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #17161d;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

svg path{
  fill: gray;
  stroke: rgb(253, 252, 252);
  stroke-width: 1;
}

svg path:hover{
  fill: rgb(240, 236, 236);
  transition: 0.6s;
  stroke: rgb(243, 240, 240);
  cursor: pointer;
  
}

#capture{
  background: linear-gradient(72deg, #568fda 1%, #00002e 99%);
  height: 100;
  width: 100%;
  border: 2px solid rgb(9, 8, 7);
  border-radius: 30px;
}

#map{
  height: 100%;
  width: 100%;
}

#menu,#menu-content {
  top: 0;
  width: 100%;
  height: 100%
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2500;
  font-size: 15px;
  letter-spacing: .1em;
  
}

#header-menu {
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
}

li.header-menu-item a {
  display: inline-block;
  padding: 20px;
  color: rgb(253, 253, 250);
}

a {
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
}

.header-menu-item-mask {
  overflow: hidden;
  transform: translateY(-50%);
}

.header-item::after {
  position: absolute;
  bottom: 6px;
  left: 10px;
  width: 1.5em;
  height: 2px;
  transform-origin: 0 0;
  transform: scale3d(0,1,1);
}

li.header-menu-item {
  float: right;
  margin: 0 .8vw;
  margin-top: 0px;
  margin-right: 0.8vw;
  margin-bottom: 0px;
  margin-left: 0.4vw;
  list-style-type: none;
}

.hero-context {
  padding: 45px 40px;
  width: 100%;
  height: 100%;
  align-items: center;
}

#header-logo {
  padding-left: 60px;
  color: #f8f6f8;
  padding-top: 2px;
  transform: translateY(110%);
}

#header {
  text-transform: uppercase;
}

#Africana{
  background-color: #5C4033;
}

#Budista{
  background-color: #c2bf07;
}

#Cristã-Ortodoxa{
  background-color: #07c2b9;
}

#Hindu{
  background-color: rgb(255, 153, 0);
}

#Islâmica{
  background-color: rgb(10, 126, 10);
}

#Japonesa{
  background-color: rgb(192, 2, 2);
}

#Latino-americana{
  background-color: #5c065f;
}

#Ocidental{
  background-color: rgb(3, 5, 145);
}

#Sínica{
  background-color: rgb(124, 4, 4);

}

#figura{
  position: relative;
}

#imgbg{
  width: 100%;
  height: 800px;
}

#title{
  position: absolute;
  bottom: 70%;
  left: 15%;
  visibility: visible;
  opacity: 1;
  font-size: 40px;
  text-align: center;
  color: #c2bf07;
  margin-top: 200px;
  text-transform: uppercase;
}

#civi{
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  color: #c2bf07;
}

#caracteristicas{
  color: #fff;
  background-color: #2d2c2c;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

#carac{
  text-align: center;
}

.carac{
  margin-top: 20px;
}

.cards{
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.card{
  color: #030303;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #040404;
}

.card:not(:first-child){
  margin-top: 20px;
}

#mundi{
  text-align: center;
  color: #f5f1f1;
  margin-top: 70px;
  text-transform: uppercase;
}

.cores{
  padding: 0;
  margin: 0;
  box-sizing: 5px;
}

#cores{
  padding: 1rem;
  margin: 1rem;
}

.cores li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

#cor1{
  width: 90px;
  height: 30px;
  transform: translateX(155%);
}

#cor2{
  width: 90px;
  height: 30px;
  transform: translateX(177%);
}

#cor3{
  width: 170px;
  height: 30px;
  transform: translateX(107%);
}

#cor4{
  width: 80px;
  height: 30px;
  transform: translateX(253%);
}

#cor5{
  width: 90px;
  height: 30px;
  transform: translateX(245%);
}

#cor6{
  width: 100px;
  height: 30px;
  transform: translateX(235%);
}

#cor7{
  width: 170px;
  height: 30px;
  transform: translateX(147%);
}

#cor8{
  width: 100px;
  height: 30px;
  transform: translateX(270%);
}

#cor9{
  width: 70px;
  height: 30px;
  transform: translateX(411%);
}

footer{
  margin-top: 70px;
  padding: 80px;
  background: linear-gradient(72deg, #201720 1%, #00003a 99%);
  display: flex;
  justify-content: space-around;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(253, 253, 250);
}

.rodape-links{
  list-style: none;
}

.rodape-links a{
  color: rgb(253, 253, 250);
  margin-block-start: 1em;
  font-size: 15px;
}




/*
***********************************************************************************************
*                                           países                                            *
***********************************************************************************************
*/

#AF{
  fill: rgb(10, 126, 10);
}

.Angola{
  fill: #5C4033;
}

#AL{
  fill: rgb(124, 247, 43);
}

#AE{
  fill: rgb(10, 126, 10);
}

.Argentina{
  fill: #5c065f;
}

#AM {
  fill: #07c2b9;
}

.Australia{
  fill: rgb(3, 5, 145);
}

#AT{
  fill: rgb(3, 5, 145);
}

.Azerbaijan{
  fill: rgb(51, 161, 51);
}

#BI{
  fill: #5C4033;
}

#BE{
  fill: rgb(3, 5, 145);
}

#BJ{
  fill: #5C4033;
}

#BF{
  fill: rgb(10, 126, 10);
}

#BD{
  fill: rgb(10, 126, 10);
}

#BG{
  fill: #07c2b9;
}

#BA{
  fill: #07c2b9;
}

#BY{
  fill: #07c2b9;
}

#BZ{
  fill: #bba5bb;
}

#BO{
  fill: #5c065f;
}

#BR {
  fill: #5c065f;
}

#BN{
  fill: rgb(10, 126, 10);
}

#BT{
  fill: #c2bf07;
}

#BW{
  fill: #5C4033;
}

#CF{
  fill: #5C4033;
}

.Canada{
  fill: rgb(3, 5, 145);
}

#CH{
  fill: rgb(3, 5, 145);
}

.China{
  fill: rgb(124, 4, 4);
}

#CI{
  fill: #5C4033;
}

#CM{
  fill: #5C4033;
}

#CD{
  fill: #5C4033;
}

#CG{
  fill: #5C4033;
}

#CO{
  fill: #5c065f;
}

#CR{
  fill: #5c065f;
}

#CU{
  fill: #5c065f;
}

#CZ{
  fill: rgb(3, 5, 145);
}

#DE{
  fill: rgb(3, 5, 145);
}

#DJ{
  fill: rgb(10, 126, 10);
}

.Denmark{
  fill: rgb(3, 5, 145);
}

#DO{
  fill: #5c065f;
}

#DZ{
  fill: rgb(10, 126, 10);
}

#EC{
  fill: #5c065f;
}

#EG{
  fill: rgb(10, 126, 10);
}

#ER{
  fill: rgb(10, 126, 10);
}

#EE{
  fill: rgb(3, 5, 145);
}

#ET{
  fill: #94654f;
}

#FI{
  fill: rgb(3, 5, 145);
}

#GA{
  fill: #5C4033;
}

.United-Kingdom{
  fill: rgb(3, 5, 145);
}

#GE{
  fill: #07c2b9;
}

#GH{
  fill: #5C4033;
}

#GN{
  fill: rgb(10, 126, 10);
}

#GM{
  fill: rgb(10, 126, 10);
}

#GW{
  fill: #5C4033;
}

#GQ{
  fill: #5C4033;
}

.Greece{
  fill: rgb(3, 5, 145);
}

#GL{
  fill: rgb(3, 5, 145);
}

#GT{
  fill: #5c065f;
}

#GY{
  fill: #bba5bb;
}

#HN{
  fill: #5c065f;
}

#HR{
  fill: rgb(3, 5, 145);
}

#HT{
  fill: #bba5bb;
}

#HU{
  fill: rgb(3, 5, 145);
}

.Indonesia{
  fill: rgb(10, 126, 10);
}

#IN{
  fill: rgb(255, 153, 0);
}

#IE{
  fill: rgb(3, 5, 145);
}

#IR{
  fill: rgb(51, 161, 51);
}

#IQ{
  fill: rgb(10, 126, 10);
}

#IS{
  fill: rgb(3, 5, 145);
}

#IL{
  fill: rgb(3, 5, 145);
}

.Italy{
  fill: rgb(3, 5, 145);
}

#JM{
  fill: #bba5bb;
}

#JO{
  fill: rgb(10, 126, 10);
}

.Japan{
  fill: rgb(192, 2, 2);
}

#KZ{
  fill: #07c2b9;
}

#KE{
  fill: #5c4033;
}

#KG{
  fill: rgb(1, 126, 10);
}

#KH{
  fill: #c2bf07;
}

#KR{
  fill: rgb(124, 4, 4);
}

#KW{
  fill: rgb(10, 126, 10);
}

#LA{
  fill: #c2bf07;
}

#LB{
  fill: rgb(1, 126, 10);
}

#LR{
  fill: #5c4033;
}

#LY{
  fill: rgb(10, 126, 10);
}

#LK{
  fill: #c2bf07;
}

#LS{
  fill: #5c4033;
}

#LT{
  fill: rgb(3, 5, 145);
}

#LU{
  fill: rgb(3, 5, 145);
}

#MA{
  fill: rgb(10, 126, 10);
}

#MD{
  fill: #07c2b9;
}

#MG{
  fill: #5c4033;
}

#MX{
  fill: #5c065f;
}

#MK{
  fill: #07c2b9;
}

#ML{
  fill: rgb(10, 126, 10);
}

#MM{
  fill: #c2bf07;
}

#ME{
  fill: #07c2b9;
}

#MN{
  fill: #c2bf07;
}

#MZ{
  fill: #5c4033;
}

#MR{
  fill: rgb(10, 126, 10);
}

#MW{
  fill: #5c4033;
}

.Malaysia{
  fill: rgb(10, 126, 10);
}

#NA{
  fill: #5c4033;
}

#NE{
  fill: rgb(10, 126, 10);
}

#NG{
  fill: #5c4033;
}

#NI{
  fill: #5c065f;
}

.Norway {
  fill: rgb(3, 5, 145);
}

#NP{
  fill: rgb(255, 153, 0);
}

.Oman{
  fill: rgb(1, 126, 10);
}

#PK{
  fill: rgb(1, 126, 10);
}

#PA{
  fill: #5c065f;
}

#PE{
  fill: #5c065f;
}

.Philippines{
  fill: red;
}

.Papua-New-Guinea{
  fill: rgb(3, 5, 145);
}

#PL{
  fill: rgb(3, 5, 145);
}

#KP{
  fill: rgb(124, 4, 4);
}

#PY{
  fill: #5c065f;
}

#RO{
  fill: #07c2b9;
}

#RW{
  fill: #5c4033;
}

#EH{
  fill: rgb(1, 126, 10);
}

#SA{
  fill: rgb(1, 126, 10);
}

#SD{
  fill: rgb(1, 126, 10);
}

#SS{
  fill: #5c4033;
}

#SN{
  fill: rgb(1, 126, 10);
}

#SL{
  fill: rgb(1, 126, 10);
}

#SV{
  fill: #5c065f;
}

#RS{
  fill: #07c2b9;
}

#SR{
  fill: #bba5bb;
}

#SK{
  fill: rgb(3, 5, 145);
}

#SI{
  fill: rgb(3, 5, 145);
}

#SE{
  fill: rgb(3, 5, 145);
}

#SZ{
  fill: #5c4033;
}

#SY{
  fill: rgb(1, 126, 10);
}

#TD{
  fill: rgb(1, 126, 10);
}

#TG{
  fill: #5c4033;
}

#TD{
  fill: rgb(1, 126, 10);
}

#TJ{
  fill: rgb(1, 126, 10);
}

#TM{
  fill: rgb(1, 126, 10);
}

#TL{
  fill: #c2bf07;
}

#TN{
  fill: rgb(1, 126, 10);
}

.Turkey{
  fill: rgb(124, 247, 43);
}

#TW{
  fill: rgb(124, 4, 4);
}

#TZ{
  fill: #5C4033;
}

#UG{
  fill: #5C4033;
}

#UA{
  fill: #07c2b9;
}

#UY{
  fill: #5c065f;
}

#UZ{
  fill: rgb(1, 126, 10);
}

#VE{
  fill: #5c065f;
}

#VN{
  fill: rgb(124, 4, 4);
}

#YE{
  fill: rgb(1, 126, 10);
}

#ZM{
  fill: #5C4033;
}

#ZW{
  fill: #5C4033;
}

#SO{
  fill: rgb(1, 126, 10);
}

#XK{
  fill: #07c2b9;
}

#ZA{
  fill: #5C4033;
}

.New-Zealand{
  fill: rgb(3, 5, 145);
}

.Chile{
  fill: #5c065f;
}

#NL{
  fill: rgb(3, 5, 145);
}

#PT{
  fill: rgb(3, 5, 145);
}

.Russian-Federation{
  fill: #07c2b9;
}

#ES{
  fill: rgb(3, 5, 145);
}

.France{
  fill: rgb(3, 5, 145);
}

.United-States{
  fill: rgb(3, 5, 145);
}

#GF{
  fill: rgb(3, 5, 145);
}

#AW{
  fill: #5c065f;
}

#AI{
  fill: rgb(3, 5, 145);
}

.American-Samoa{
  fill: rgb(3, 5, 145);
}

.Antigua-and-Barbuda{
  fill: #5c065f;
}

#BH{
  fill: rgb(1, 126, 10);
}

.Bahamas{
  fill: #bba5bb;
}

#BL{
  fill: #bba5bb;
}

#BM{
  fill: #bba5bb;
}

#BB{
  fill: #bba5bb;
}

.Comoros{
  fill: #5C4033;
}

.Cape-Verde{
  fill: #5C4033;
}

#CW{
  fill: #5C4033;
}

.Cayman-Islands{
  fill: rgb(3, 5, 145);
}

.Cyprus{
  fill: rgb(1, 126, 10);
}

#DM{
  fill: #5c065f;
}

.Falkland-Islands{
  fill: rgb(3, 5, 145);
}

.Faeroe-Islands{
  fill: rgb(3, 5, 145);
}

.Federated-States-of-Micronesia{
  fill: rgb(3, 5, 145);
}

#GD{
  fill: #5c065f;
}

.New-Caledonia{
  fill: rgb(3, 5, 145);
}

.Solomon-Islands{
  fill: rgb(3, 5, 145);
}

#LV{
  fill: rgb(3, 5, 145);
}

#TH{
  fill: #c2bf07;
}

#QA{
  fill: rgb(1, 126, 10);
}