/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #c2bf07 #131219;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: #131219;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2bf07;
  border-radius: 10px;
  border: none;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #181818;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

svg path{
  fill: gray;
  stroke: rgb(4, 1, 1);
  stroke-width: 1;
}

svg path:hover{
  fill: rgb(173, 12, 12);
  transition: 0.6s;
  stroke: rgb(173, 12, 12);
  cursor: pointer;
  
}

.mapa{
  background: linear-gradient(72deg, #568fda 1%, #00002e 99%);
  border: 4px solid rgb(7, 7, 7);
  border-radius: 300px;
  height: 480px;
  width: 1100px;
  transform: translate(12%, 0%);
}

.button {
  text-align: center;
  font-size: 1em;
  color: #eee;
  line-height: 40px;
  z-index: 40;
  position: absolute;
}
.title{
  text-align: center;
  color: #a59f9f;
  margin-top: 100px;
}

.cards{
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.card{
  color: #a59f9f;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #a59f9f;
}

.card:not(:first-child){
  margin-top: 20px;
}