body{
  margin: 0;
  padding: 0;
  background: linear-gradient(72deg, #ced9e7 1%, #0b0b17 99%);
}
/*
svg path{
  fill: rgb(154, 179, 188);
  stroke: rgb(4, 1, 1);
  stroke-width: .25;
}
*/
svg path:hover{
  fill: rgb(173, 12, 12);
  transition: 0.6s;
  stroke: rgb(173, 12, 12);
  stroke-width: 5;
  cursor: pointer;
}

svg path#BR{
  fill: rgb(7, 197, 17);
  stroke:  rgb(207, 10, 10);
  stroke-width: .25;
}